body {
  background: linear-gradient(
      -45deg,
      rgb(253, 183, 220) 25%,
      rgb(240, 213, 190) 38.1%,
      rgb(249, 240, 206) 55.5%,
      rgb(253, 244, 210) 67.3%,
      rgb(222, 248, 226) 85.2%,
      rgb(200, 247, 242) 103.6%
    )
    fixed;

  font-family: sans-serif;
  color: #452266;

  max-width: 800px;
  margin: 0 auto;
}

p,
li {
  line-height: 1.5rem;
}
a {
  color: #452266;
  font-size: 3rem;
  transition: all 500ms;
}

a:hover {
  color: rgb(7, 253, 229);
}
